<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prepare.prepareurself">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".AdsActivity"
            android:label="@string/title_activity_ads" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".courses.ui.activity.AllCoursesActivity" />
        <activity
            android:name=".profile.ui.EditPreferenceActivity"
            android:theme="@style/ProfileTheme" />
        <activity android:name=".authentication.ui.forgetPassword" />
        <activity android:name=".authentication.ui.VerifyEmailActivity" />
        <activity android:name=".profile.ui.activity.UpdatePasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".youtubeplayer.youtubeplaylistapi.ui.VideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="video" />
            </intent-filter>
        </activity>
        <activity android:name=".courses.ui.activity.ProjectsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="project" />
            </intent-filter>
        </activity>
        <activity
            android:name=".courses.ui.activity.CoursesActivity"
            android:theme="@style/ProfileTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="course" />
            </intent-filter>
        </activity>
        <activity android:name=".resources.youtubevideoplayer.YoutubePlayerActivity" />
        <activity
            android:name=".resources.ui.activity.ResourcesActivity"
            android:label="@string/title_activity_courses">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="theory" />
            </intent-filter>
        </activity>
        <!--
<activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        -->
        <activity
            android:name=".Home.ui.HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="feedback" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.QuizBaseActivity" />
        <activity android:name=".quiz.QuizActivity" />
        <activity
            android:name=".authentication.ui.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.prepareurself"
                    android:scheme="install" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>